version: '3.4'

volumes:
  redis:

services:
  redis:
    image: redis:5
    volumes:
      - redis:/data
    ports:
      - "6379:6379"

  ex:
    build:
      context: ex_message_bus/
      dockerfile: Dockerfile
    command: "tail -f /bin/sh"
    links:
      - redis
    environment:
      REDIS_HOST: redis
    volumes:
      - ./ex_message_bus:/mnt/code
